/* crappy-style.scss */

/******************************************************************************
 * CRAP IMPLEMENTATION – RE-WRITE SCHEDULED FOR SPRINT 2 (v. 0.2)
 *****************************************************************************/

/*
section.flickr-records-list-view {
  @include heading;

  max-width: $viewport-max-width;
  padding: $base-padding * 1.5;
  margin: $viewport-margin;
*/


$default-fg-color: #ce4dd6;
$default-bg-color: #c3c3c3;

$default-heading-color: grey;
$default-anchor-color: blue;
$default-text-color: #333;

$alt-text-color: green;

$default-font-family: Verdana, Arial, sans-serif;
$default-font-weight: 300 !default;
$default-font-size: 115% !default;

$default-border-style: dashed;
$default-border-color: red;

$viewport-max-width: 800px;
$viewport-margin: 0 auto;
$single-column-max-width: 600px;

$base-padding: 2% !default;
$base-margin: 1% !default;

$flickr-img-max-width: 250px;
$flickr-datetimes-wrap-width: 810px;
