/* record-detail.scss */

/******************************************************************************
 * CRAP IMPLEMENTATION – RE-WRITE SCHEDULED FOR SPRINT 2 (v. 0.2)
 *****************************************************************************/

@mixin rounded-top-left {
  $vert: top;
  $horz: left;
  $radius: 10px;

  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

#navbar li { @include rounded-top-left; }
#footer { @include rounded-top-left; }


$default-fg-color: #ce4dd6;
$default-bg-color: #c3c3c3;

$default-heading-color: grey;
$default-anchor-color: blue;
$default-text-color: #333;

$alt-text-color: green;

$default-font-family: Verdana, Arial, sans-serif;
$default-font-weight: 300;
$default-font-size: 100%;

$default-border-style: dashed;
$default-border-color: red;

$viewport-max-width: 800px;
$viewport-margin: 0 auto;
$single-column-max-width: 600px;

$base-padding: 2%;
$base-margin: 1%;

$flickr-img-max-width: 250px;
$flickr-datetimes-wrap-width: 810px;


@mixin heading {
  color: $default-fg-color;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font: {
    size: $default-font-size;
    family: $default-font-family;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

span.pipe-sep {
  font-size: $default-font-size * 1.05;
  color: $alt-text-color;
}

section.flickr-record-detail-view {
  @include heading;

  max-width: $viewport-max-width;
  padding: $base-padding * 1.5;
  margin: $viewport-margin;

  article {
    margin-bottom: $base-margin * 6;
    padding: $base-padding;
    border: {
      style: $default-border-style;
      color: $default-border-color;
    }

    hgroup {
      & > button {
        float: right;
        height: 24px;
        width: 64px;
      }

      & > h1 {
        color: $default-anchor-color;
        font: {
          size: $default-font-size * 1.35;
        }
        margin: 0;
        :first-line {
          margin-right: 84px;
        }
      }

      & > h3 {
        font: {
          size: $default-font-size * 0.95;
          weight: $default-font-weight;
        }
        margin: $base-margin 0;
      }

      @media screen and (max-width: $flickr-datetimes-wrap-width - $flickr-img-max-width) {
        span {
          display: inline-block;
          width: 240px;
          margin-right: 80px;

          time {
            display: block;
            float: right;
          }
        }

        span.pipe-sep {
          display: none;
        }
      }
    }

    aside.flickr-origin {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: $base-margin 0;
      a {
        font: {
          size: $default-font-size * 0.95;
        }
      }
    }

    div {
      width: 100%;
      height: 100%;
    }

    & > div {
      display: table;
      @media screen and (max-width: $single-column-max-width) {
        display: block;
      }

      & > img {
        padding-top: $base-padding;
        min-width: $flickr-img-max-width;
        display: table-cell;
        @media screen and (max-width: $single-column-max-width) {
          display: block;
        }
      }

      & > div {
        vertical-align: top;
        padding-left: $base-padding;
        display: table-cell;
        @media screen and (max-width: $single-column-max-width) {
          display: block;
          padding-left: 0;
        }

        & > div {
          display: block;
          position: relative;
          word-break: break-word;
          height: auto;

          & > p:first-child {
            margin-top: 0px;
            @media screen and (max-width: $single-column-max-width) {
              margin-top: $base-margin;
            }
          }

          & > p:last-child {
            margin-bottom: $base-margin * 3;
          }
        }

        & > aside.flickr-tags {
          & > h2 {
            font: {
              size: $default-font-size * 1.15
            }
            margin: $base-margin 0;
            color: $alt-text-color;
          }
          //background-color: $default-border-color;
        }
      }
    }
  }
}
