/* crappy-style.scss */
/******************************************************************************
 * CRAP IMPLEMENTATION – RE-WRITE SCHEDULED FOR SPRINT 2 (v. 0.2)
 *****************************************************************************/
/*
section.flickr-records-list-view {
  @include heading;

  max-width: $viewport-max-width;
  padding: $base-padding * 1.5;
  margin: $viewport-margin;
*/
span.pipe-separator {
  font-size: 120.75%;
  color: green; }
  span.pipe-separator:before {
    content: " | "; }

section.flickr-records-list-view, section.flickr-record-detail-view {
  max-width: 800px;
  padding: 3%;
  margin: 0 auto;
  color: #ce4dd6;
  font-size: 115%;
  font-family: Verdana, Arial, sans-serif; }
  section.flickr-records-list-view article, section.flickr-record-detail-view article {
    margin-bottom: 6%;
    padding: 2%;
    border-style: dashed;
    border-color: red; }
  section.flickr-records-list-view a, section.flickr-record-detail-view a {
    color: blue;
    font-size: 115%;
    font-family: Verdana, Arial, sans-serif;
    text-decoration: none; }
    section.flickr-records-list-view a:hover, section.flickr-record-detail-view a:hover {
      text-decoration: underline; }
  section.flickr-records-list-view div, section.flickr-record-detail-view div {
    display: block;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 100%; }
  section.flickr-records-list-view aside.flickr-record-list-origin, section.flickr-records-list-view aside.flickr-record-item-detail-origin, section.flickr-record-detail-view aside.flickr-record-list-origin, section.flickr-record-detail-view aside.flickr-record-item-detail-origin {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 1% 0; }
    section.flickr-records-list-view aside.flickr-record-list-origin a, section.flickr-records-list-view aside.flickr-record-item-detail-origin a, section.flickr-record-detail-view aside.flickr-record-list-origin a, section.flickr-record-detail-view aside.flickr-record-item-detail-origin a {
      font-size: 109.25%; }
  section.flickr-records-list-view h1, section.flickr-records-list-view h2, section.flickr-record-detail-view h1, section.flickr-record-detail-view h2 {
    color: blue;
    margin: 0; }
  section.flickr-records-list-view h1, section.flickr-record-detail-view h1 {
    font-size: 155.25%; }
  section.flickr-records-list-view h2, section.flickr-record-detail-view h2 {
    font-size: 143.75%; }
  section.flickr-records-list-view h3, section.flickr-record-detail-view h3 {
    font-size: 109.25%;
    font-weight: 300;
    margin: 1% 0; }

section.flickr-records-list-view > article {
  display: table; }
  @media screen and (max-width: 600px) {
    section.flickr-records-list-view > article {
      display: block; } }
  section.flickr-records-list-view > article > a {
    color: green;
    min-width: 250px;
    display: table-cell; }
    @media screen and (max-width: 600px) {
      section.flickr-records-list-view > article > a {
        display: block; } }
  section.flickr-records-list-view > article > div {
    display: table-cell; }
    @media screen and (max-width: 600px) {
      section.flickr-records-list-view > article > div {
        display: block; } }
    section.flickr-records-list-view > article > div > div > div {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }
      @media screen and (max-width: 600px) {
        section.flickr-records-list-view > article > div > div > div {
          position: relative; } }
  section.flickr-records-list-view > article hgroup h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    @media screen and (max-width: 600px) {
      section.flickr-records-list-view > article hgroup h2 {
        margin-top: 3%; } }
  @media screen and (max-width: 810px) {
    section.flickr-records-list-view > article hgroup span {
      display: block;
      width: 240px; }
      section.flickr-records-list-view > article hgroup span time {
        display: block;
        float: right; }
    section.flickr-records-list-view > article hgroup span.pipe-separator {
      display: none; } }
  section.flickr-records-list-view > article aside.flickr-record-list-origin {
    margin-top: 3%; }

section.flickr-record-detail-view > article hgroup > button {
  float: right;
  height: 24px;
  width: 64px; }
section.flickr-record-detail-view > article hgroup > h1 :first-line {
  margin-right: 84px; }
section.flickr-record-detail-view > article hgroup > h3 {
  margin: 1% 0; }
@media screen and (max-width: 560px) {
  section.flickr-record-detail-view > article hgroup span {
    display: block;
    width: 240px; }
    section.flickr-record-detail-view > article hgroup span time {
      display: block;
      float: right; }
  section.flickr-record-detail-view > article hgroup span.pipe-separator {
    display: none; } }
section.flickr-record-detail-view > article > div {
  display: table; }
  @media screen and (max-width: 600px) {
    section.flickr-record-detail-view > article > div {
      display: block; } }
  section.flickr-record-detail-view > article > div > img {
    padding-top: 2%;
    min-width: 250px;
    display: table-cell; }
    @media screen and (max-width: 600px) {
      section.flickr-record-detail-view > article > div > img {
        display: block; } }
  section.flickr-record-detail-view > article > div > div {
    padding-left: 2%;
    display: table-cell; }
    @media screen and (max-width: 600px) {
      section.flickr-record-detail-view > article > div > div {
        display: block; } }
    @media screen and (max-width: 600px) {
      section.flickr-record-detail-view > article > div > div {
        padding-left: 0; } }
    section.flickr-record-detail-view > article > div > div > div {
      word-break: break-word;
      height: auto; }
      section.flickr-record-detail-view > article > div > div > div > p:first-child {
        margin-top: 0px; }
        @media screen and (max-width: 600px) {
          section.flickr-record-detail-view > article > div > div > div > p:first-child {
            margin-top: 1%; } }
      section.flickr-record-detail-view > article > div > div > div > p:last-child {
        margin-bottom: 3%; }
    section.flickr-record-detail-view > article > div > div > aside.flickr-record-item-detail-tags > h2 {
      margin: 1% 0;
      color: green; }
