/* records-list.scss */
/******************************************************************************
 * CRAP IMPLEMENTATION – RE-WRITE SCHEDULED FOR SPRINT 2 (v. 0.2)
 *****************************************************************************/
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 100%;
  font-family: Verdana, Arial, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

span.pipe-sep {
  font-size: 105%;
  color: green; }

section.flickr-records-list-view {
  color: #ce4dd6;
  max-width: 800px;
  padding: 3%;
  margin: 0 auto; }
  section.flickr-records-list-view article {
    margin-bottom: 6%;
    padding: 2%;
    display: table;
    border-style: dashed;
    border-color: red; }
    @media screen and (max-width: 600px) {
      section.flickr-records-list-view article {
        display: block; } }
    section.flickr-records-list-view article div {
      width: 100%;
      height: 100%; }
    section.flickr-records-list-view article > a {
      color: green;
      min-width: 250px;
      display: table-cell; }
      @media screen and (max-width: 600px) {
        section.flickr-records-list-view article > a {
          display: block; } }
    section.flickr-records-list-view article > div {
      vertical-align: top;
      display: table-cell; }
      @media screen and (max-width: 600px) {
        section.flickr-records-list-view article > div {
          display: block; } }
      section.flickr-records-list-view article > div > div {
        display: block;
        position: relative; }
        section.flickr-records-list-view article > div > div > div {
          display: block;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px; }
          @media screen and (max-width: 600px) {
            section.flickr-records-list-view article > div > div > div {
              position: relative; } }
    section.flickr-records-list-view article hgroup h2 {
      color: blue;
      font-size: 125%;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      @media screen and (max-width: 600px) {
        section.flickr-records-list-view article hgroup h2 {
          margin-top: 3%; } }
    section.flickr-records-list-view article hgroup h3 {
      font-size: 95%;
      font-weight: 300; }
    @media screen and (max-width: 810px) {
      section.flickr-records-list-view article hgroup span {
        display: inline-block;
        width: 240px;
        margin-right: 80px; }
        section.flickr-records-list-view article hgroup span time {
          display: block;
          float: right; }
      section.flickr-records-list-view article hgroup span.pipe-sep {
        display: none; } }
    section.flickr-records-list-view article aside.flickr-tags {
      display: none; }
    section.flickr-records-list-view article aside.flickr-origin {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
