/* record-detail.scss */
/******************************************************************************
 * CRAP IMPLEMENTATION – RE-WRITE SCHEDULED FOR SPRINT 2 (v. 0.2)
 *****************************************************************************/
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 100%;
  font-family: Verdana, Arial, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

span.pipe-sep {
  font-size: 105%;
  color: green; }

section.flickr-record-detail-view {
  color: #ce4dd6;
  max-width: 800px;
  padding: 3%;
  margin: 0 auto; }
  section.flickr-record-detail-view article {
    margin-bottom: 6%;
    padding: 2%;
    border-style: dashed;
    border-color: red; }
    section.flickr-record-detail-view article hgroup > button {
      float: right;
      height: 24px;
      width: 64px; }
    section.flickr-record-detail-view article hgroup > h1 {
      color: blue;
      font-size: 135%;
      margin: 0; }
      section.flickr-record-detail-view article hgroup > h1 :first-line {
        margin-right: 84px; }
    section.flickr-record-detail-view article hgroup > h3 {
      font-size: 95%;
      font-weight: 300;
      margin: 1% 0; }
    @media screen and (max-width: 560px) {
      section.flickr-record-detail-view article hgroup span {
        display: inline-block;
        width: 240px;
        margin-right: 80px; }
        section.flickr-record-detail-view article hgroup span time {
          display: block;
          float: right; }
      section.flickr-record-detail-view article hgroup span.pipe-sep {
        display: none; } }
    section.flickr-record-detail-view article aside.flickr-origin {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 1% 0; }
      section.flickr-record-detail-view article aside.flickr-origin a {
        font-size: 95%; }
    section.flickr-record-detail-view article div {
      width: 100%;
      height: 100%; }
    section.flickr-record-detail-view article > div {
      display: table; }
      @media screen and (max-width: 600px) {
        section.flickr-record-detail-view article > div {
          display: block; } }
      section.flickr-record-detail-view article > div > img {
        padding-top: 2%;
        min-width: 250px;
        display: table-cell; }
        @media screen and (max-width: 600px) {
          section.flickr-record-detail-view article > div > img {
            display: block; } }
      section.flickr-record-detail-view article > div > div {
        vertical-align: top;
        padding-left: 2%;
        display: table-cell; }
        @media screen and (max-width: 600px) {
          section.flickr-record-detail-view article > div > div {
            display: block;
            padding-left: 0; } }
        section.flickr-record-detail-view article > div > div > div {
          display: block;
          position: relative;
          word-break: break-word;
          height: auto; }
          section.flickr-record-detail-view article > div > div > div > p:first-child {
            margin-top: 0px; }
            @media screen and (max-width: 600px) {
              section.flickr-record-detail-view article > div > div > div > p:first-child {
                margin-top: 1%; } }
          section.flickr-record-detail-view article > div > div > div > p:last-child {
            margin-bottom: 3%; }
        section.flickr-record-detail-view article > div > div > aside.flickr-tags > h2 {
          font-size: 115.0%;
          margin: 1% 0;
          color: green; }
