<section class="flickr-records-list-view">
    <article data-ng-repeat="item in items">
        <a ng-href="#/viewRecordDetail/{{ item.id }}">
            <img ng-src="{{ item.media }}">
        </a>
        <div>
            <div>
                <div>
                    <hgroup>
                        <h2><a ng-href="#/viewRecordDetail/{{ item.id }}">{{ item.title }}</a></h2>
                        <h3>
                            <span>Published: <time>{{ item.published | date:"yyyy-MM-dd HH:mm" }}</time></span>
                            <span class="pipe-sep"> | </span>
                            <span>Taken: <time>{{ item.date_taken | date:"yyyy-MM-dd HH:mm" }}</time></span>
                        </h3>
                    </hgroup>

                    <aside class="flickr-origin">
                        <a href="{{ item.link }}">View on Flickr</a>
                        <span class="pipe-sep"> | </span>
                        <a href="http://www.flickr.com/people/{{ item.author_id }}/">{{ item.author }}</a>
                    </aside>

                    <aside class="flickr-tags">
                        <div>Tags:</div>
                        <div>
                            <span data-ng-repeat="tag in item.tags">
                                <a ng-href="#/listTags/{{ tag }}">{{ tag }}</a>
                            </span>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>
</section>
