<section class="flickr-record-detail-view">
    <article>
        <hgroup>
            <button ng-click="$back()">Back</button>
            <h1><a href="{{ item.link }}">{{ item.title }}</a></h1>
            <h3>
                <span>Published: <time>{{ item.published | date:"yyyy-MM-dd HH:mm" }}</time></span>
                <span class="pipe-sep"> | </span>
                <span>Taken: <time>{{ item.date_taken | date:"yyyy-MM-dd HH:mm" }}</time></span>
            </h3>
        </hgroup>

        <aside class="flickr-origin">
            <a href="{{ item.link }}">View on Flickr</a>
            <span class="pipe-sep"> | </span>
            <a href="http://www.flickr.com/people/{{ item.author_id }}/">{{ item.author }}</a>
        </aside>

        <div>
            <img ng-src="{{ item.media }}">
            <div>
                <div ng-bind-html="item.description"></div>

                <aside class="flickr-tags">
                    <h2>Tags:</h2>
                    <div>
                        <span data-ng-repeat="tag in item.tags">
                            <a ng-href="#/listTags/{{ tag }}">{{ tag }}</a>
                        </span>
                    </div>
                </aside>
            </div>
        </div>
    </article>
</section>
