//@import '../../../../ff_desktop/sass/drafting/crappy-style.scss';

/* crappy-style.scss */

/******************************************************************************
 * CRAP IMPLEMENTATION – RE-WRITE SCHEDULED FOR SPRINT 2 (v. 0.2)
 *****************************************************************************/

/*
section.flickr-records-list-view {
  @include heading;

  max-width: $viewport-max-width;
  padding: $base-padding * 1.5;
  margin: $viewport-margin;
*/


@mixin heading {
  color: $default-fg-color;
}

@mixin flex-column-container {
  display: table;
  @media screen and (max-width: 600px) { //$single-column-max-width
    display: block;
  }
}

@mixin flex-column-item {
  display: table-cell;
  @media screen and (max-width: 600px) { //$single-column-max-width
    display: block;
  }
}

@mixin pipe-separator-off {
  span {
    display: block;
    width: 240px;
    //margin-right: 80px;

    time {
      display: block;
      float: right;
    }
  }

  span.pipe-separator {
    display: none;
  }
}

@mixin set-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin set-absolute-block {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

span.pipe-separator {
  font-size: $default-font-size * 1.05;
  color: $alt-text-color;
  &:before {
    content: " | ";
  }
}

section.flickr-records-list-view, section.flickr-record-detail-view {

  max-width: $viewport-max-width;
  padding: $base-padding * 1.5;
  margin: $viewport-margin;
  color: $default-fg-color;
  font: {
    size: $default-font-size;
    family: $default-font-family;
  }

  article {
    margin-bottom: $base-margin * 6;
    padding: $base-padding;
    border: {
      style: $default-border-style;
      color: $default-border-color;
    }
  }

  a {
    color: $default-anchor-color;
    font: {
      size: $default-font-size;
      family: $default-font-family;
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  div {
    display: block;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 100%;
  }

  aside.flickr-record-list-origin, aside.flickr-record-item-detail-origin {
    @include set-ellipsis;
    a {
      font: {
        size: $default-font-size * 0.95;
      }
    }
    margin: $base-margin 0;
  }

  h1, h2 {
    color: $default-anchor-color;
    margin: 0;
  }

  h1 {
    font: {
      size: $default-font-size * 1.35;
    }
  }

  h2 {
    font: {
      size: $default-font-size * 1.25;
    }
  }

  h3 {
    font: {
      size: $default-font-size * 0.95;
      weight: $default-font-weight;
    }
    margin: $base-margin 0;
  }
}

section.flickr-records-list-view > article {
  @include flex-column-container;

  & > a {
    color: $alt-text-color;
    min-width: $flickr-img-max-width;
    @include flex-column-item;
  }

  & > div {
    @include flex-column-item;

    & > div > div {
      @include set-absolute-block;
      @media screen and (max-width: 600px) { //$single-column-max-width
        position: relative;
      }
    }
  }

  hgroup {
    h2 {
      @media screen and (max-width: 600px) { //$single-column-max-width
        margin-top: $base-margin * 3;
      }
      @include set-ellipsis;
    }

    @media screen and (max-width: 810px) { //$flickr-datetimes-wrap-width
      @include pipe-separator-off;
    }
  }

  aside.flickr-record-list-origin {
    margin-top: $base-margin * 3;
  }
}

section.flickr-record-detail-view > article {
  hgroup {
    & > button {
      float: right;
      height: 24px;
      width: 64px;
    }

    & > h1 {
      :first-line {
        margin-right: 84px;
      }
    }

    & > h3 {
      margin: $base-margin 0;
    }

    @media screen and (max-width: 350px) { // $flickr-datetimes-wrap-width - $flickr-img-max-width
      @include pipe-separator-off;
    }
  }

  & > div {
    @include flex-column-container;

    & > img {
      padding-top: $base-padding;
      min-width: $flickr-img-max-width;
      @include flex-column-item;
    }

    & > div {
      padding-left: $base-padding;
      @include flex-column-item;
      @media screen and (max-width: 600px) { //$single-column-max-width
        padding-left: 0;
      }

      & > div {
        word-break: break-word;
        height: auto;

        & > p:first-child {
          margin-top: 0px;
          @media screen and (max-width: 600px) { //$single-column-max-width
            margin-top: $base-margin;
          }
        }

        & > p:last-child {
          margin-bottom: $base-margin * 3;
        }
      }

      & > aside.flickr-record-item-detail-tags {
        & > h2 {
          margin: $base-margin 0;
          color: $alt-text-color;
        }
      }
    }
  }

}
